<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Błąd</title>
  <link rel="stylesheet" th:href="@{/style/main-styles.css}">
</head>
<body>
<div class="header">
  <a th:href="@{/}" class="tsl"><h1>TSL 2.0</h1></a>
  <p>Zarządzaj swoją firmą w jednym miejscu.</p>
</div>
<div class="info-container">
  <div class="main-info-content">
    <h2 style="color: black">Błąd</h2>
    <p style="color: black">Przepraszamy, data załadunku nie może być wcześniejsza niż data rozładunku.</p>
  </div>
</div>
<div class="footer">
  <div class="footer-info">
    <p>TSL 2.0 | &copy; Wszystkie prawa zastrzeżone</p>
  </div>
</div>

</body>
</html>
