<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona powitalna</title>
    <link rel="stylesheet" href="../../static/style/main-styles.css" th:href="@{style/main-styles.css}">
</head>
<body>
<div class="header">
    <a th:href="@{/}" class="tsl"><h1>TSL 2.0</h1></a>
    <p>Zarządzaj swoją firmą w jednym miejscu.</p>
</div>

<div class="nav-bar">
    <div class="dropdown">
        <button class="dropbtn">O aplikacji</button>
        <div class="dropdown-content">
            <a th:href="@{/main-info}">Informacje</a>
            <a th:href="@{/demo}">Zobacz demo</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Kontakt</button>
        <div class="dropdown-content">
            <a th:href="@{/contact}">Formularz</a>
        </div>
    </div>
</div>
<div>
    <button class="log-button">
        <a th:href="@{/login-form}">Logowanie</a>
    </button>
</div>
<div class="footer">
    <div class="footer-info">
        <p>TSL 2.0 | &copy; Wszystkie prawa zastrzeżone</p>
    </div>
</div>
</body>
</html>
