<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="../../static/style/main-styles.css" th:href="@{style/main-styles.css}">
</head>
<body>
<div class="header">
    <a th:href="@{/}" class="tsl"><h1>TSL 2.0</h1></a>
    <p>Zarządzaj swoją firmą w jednym miejscu.</p>
    <a th:href="@{/}" class="log-button">Powrót</a>
</div>

<div class="container">
    <div class="login-form">
        <h2>Zaloguj się</h2>
        <form th:action="@{/login}" method="post">
            <label for="username" class="label-form">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username" placeholder="Np. john@example.com" required>
            <label for="password" class="label-form">Hasło:</label>
            <input type="password" id="password" name="password" placeholder="Twoje hasło.." required>
            <button type="submit">Zaloguj</button>
            <div th:if="${param.error}">
                <p style="color: black">Podałeś niepoprawne dane, spróbuj ponownie.</p>
            </div>
        </form>
    </div>
</div>

<div class="footer">
    <div class="footer-info">
        <p>TSL 2.0 | &copy; Wszystkie prawa zastrzeżone</p>
    </div>
</div>
</body>
</html>
