<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ładunki</title>
    <link rel="stylesheet" th:href="@{/style/main-styles.css}">
</head>

<body>

<div class="header">
    <a th:href="@{/main-page}" class="tsl"><h1>TSL 2.0</h1></a>
    <p>Zarządzaj swoją firmą w jednym miejscu.</p>
</div>

<div class="nav-bar">
    <div class="dropdown">
        <button class="dropbtn">Magazynowanie</button>
        <div class="dropdown-content">
            <a th:href="@{/warehouses}">Magazyny</a>
            <a th:href="@{/warehouses/goods}">Towary</a>
            <a th:href="@{/warehouses/orders}">Zlecenia magazynowe</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Spedycja</button>
        <div class="dropdown-content">
            <a th:href="@{/contractors/customers}">Klienci</a>
            <a th:href="@{/contractors/carriers}">Przewoźnicy</a>
            <a th:href="@{/cargos}">Ładunki</a>
            <a href="#">Zlecenia</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Transport</button>
        <div class="dropdown-content">
            <a href="#">Kierowcy</a>
            <a href="#">Cieżarówki</a>
            <a href="#">Zlecenia</a>
            <a href="#">Trasy</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Księgowość</button>
        <div class="dropdown-content">
            <a href="#">Faktury</a>
            <a href="#">Windykacja</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Zarząd</button>
        <div class="dropdown-content">
            <a href="#">Zarządzaj</a>
        </div>
    </div>
</div>

<div class="info-container">
    <div class="main-info-content">
        <h3>Lista ładunków</h3>
        <a th:href="@{/cargos/create-cargo}" class="warehouse-button">Dodaj nowy ładunek</a>
        <table class="warehouse-table">
            <thead>
            <tr>
                <th>Numer ładunku</th>
                <th>Cena</th>
                <th>Waluta</th>
                <th>Data dodania</th>
                <th>Klient</th>
                <th>Data załadunku</th>
                <th>Data rozładnku</th>
                <th>Adres załadunku</th>
                <th>Adres rozładunku</th>
                <th>Towar</th>
                <th>Przypisany do zlecenia</th>
                <th>Zafakturowany</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cargo : ${allCargos}">
                <td th:text="${cargo.cargoNumber}"></td>
                <td th:text="${cargo.price}"></td>
                <td th:text="${cargo.currency}"></td>
                <td th:text="${cargo.dateAdded}"></td>
                <td th:text="${cargo.customer.fullName }"></td>
                <td th:text="${cargo.loadingDate}"></td>
                <td th:text="${cargo.unloadingDate}"></td>
                <td th:text="${cargo.loadingAddress}"></td>
                <td th:text="${cargo.unloadingAddress}"></td>
                <td th:text="${cargo.goods}"></td>
                <td>
                    <span th:if="${cargo.assignedToOrder}">Przypisany do zlecenia</span>
                    <span th:unless="${cargo.assignedToOrder}">Nie przypisano</span>
                </td>
                <td>
                    <span th:if="${cargo.invoiced}">Zafakturowano</span>
                    <span th:unless="${cargo.invoiced}">Nie zafakturowano</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="quick-access">
    <p>Szybki dostęp</p>
    <button>Profil pracownika</button>
    <button>Czat z firmą</button>
    <a th:href="@{/logout}"><button>Wyloguj</button></a>
</div>

</body>

</html>
