<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klienci</title>
    <link rel="stylesheet" th:href="@{/style/main-styles.css}">
</head>

<body>

<div class="header">
    <a th:href="@{/main-page}" class="tsl"><h1>TSL 2.0</h1></a>
    <p>Zarządzaj swoją firmą w jednym miejscu.</p>
</div>

<div class="nav-bar">
    <div class="dropdown">
        <button class="dropbtn">Magazynowanie</button>
        <div class="dropdown-content">
            <a th:href="@{/warehouses}">Magazyny</a>
            <a th:href="@{/warehouses/goods}">Towary</a>
            <a th:href="@{/warehouses/orders}">Zlecenia magazynowe</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Spedycja</button>
        <div class="dropdown-content">
            <a th:href="@{/contractors/customers}">Klienci</a>
            <a th:href="@{/contractors/carriers}">Przewoźnicy</a>
            <a th:href="@{/cargos}">Ładunki</a>
            <a th:href="@{/orders/forwarding-orders}">Zlecenia</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Transport</button>
        <div class="dropdown-content">
            <a href="#">Kierowcy</a>
            <a href="#">Cieżarówki</a>
            <a href="#">Zlecenia</a>
            <a href="#">Trasy</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Księgowość</button>
        <div class="dropdown-content">
            <a href="#">Faktury</a>
            <a href="#">Windykacja</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Zarząd</button>
        <div class="dropdown-content">
            <a href="#">Zarządzaj</a>
        </div>
    </div>
</div>

<div class="info-container">
    <div class="main-info-content">
        <h3>Lista klientów</h3>
        <a th:href="@{/contractors/create-customer}" class="warehouse-button">Dodaj nowego klienta</a>
        <table class="warehouse-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Pełna nazwa</th>
                <th>Skrócona nazwa</th>
                <th>Adres</th>
                <th>NIP</th>
                <th>Termin płatności</th>
                <th>Saldo</th>
                <th>Ocena płatnika</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${allCustomers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.fullName}"></td>
                <td th:text="${customer.shortName}"></td>
                <td th:text="${customer.address.city + ', ' + customer.address.street}"></td>
                <td th:text="${customer.vatNumber}"></td>
                <td th:text="${customer.termOfPayment}"></td>
                <td th:text="${customer.balance}"></td>
                <td th:text="${customer.paymentsRating != null ? customer.paymentsRating.description : 'Brak'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="quick-access">
    <p>Szybki dostęp</p>
    <button>Profil pracownika</button>
    <button>Czat z firmą</button>
    <a th:href="@{/logout}"><button>Wyloguj</button></a>
</div>

</body>

</html>
