<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zlecenia spedycyjne</title>
    <link rel="stylesheet" th:href="@{/style/main-styles.css}">
</head>

<body>

<div class="header">
    <a th:href="@{/main-page}" class="tsl"><h1>TSL 2.0</h1></a>
    <p>Zarządzaj swoją firmą w jednym miejscu.</p>
</div>

<div class="nav-bar">
    <div class="dropdown">
        <button class="dropbtn">Magazynowanie</button>
        <div class="dropdown-content">
            <a th:href="@{/warehouses}">Magazyny</a>
            <a th:href="@{/warehouses/goods}">Towary</a>
            <a th:href="@{/warehouses/orders}">Zlecenia magazynowe</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Spedycja</button>
        <div class="dropdown-content">
            <a th:href="@{/contractors/customers}">Klienci</a>
            <a th:href="@{/contractors/carriers}">Przewoźnicy</a>
            <a th:href="@{/cargos}">Ładunki</a>
            <a th:href="@{/orders/forwarding-orders}">Zlecenia</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Transport</button>
        <div class="dropdown-content">
            <a href="#">Kierowcy</a>
            <a href="#">Cieżarówki</a>
            <a href="#">Zlecenia</a>
            <a href="#">Trasy</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Księgowość</button>
        <div class="dropdown-content">
            <a th:href="@{/invoices/carrier}">Faktury przewoźników</a>
            <a th:href="@{/invoices/customer}">Faktury klientów</a>
            <a href="#">Windykacja</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Zarząd</button>
        <div class="dropdown-content">
            <a href="#">Zarządzaj</a>
        </div>
    </div>
</div>

<div class="info-container">
    <div class="main-info-content">
        <h3>Lista zleceń</h3>
        <a th:href="@{/orders/create-forwarding-order}" class="warehouse-button">Dodaj nowe zlecenie</a>
        <table class="warehouse-table">
            <thead>
            <tr>
                <th>Numer ładunku</th>
                <th>Data dodania</th>
                <th>Cena</th>
                <th>Waluta</th>
                <th>Przewoźnik</th>
                <th>Marża</th>
                <th>Zafakturowane</th>
                <th>Status</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${allOrdersByForwarder}">
                <td th:text="${order.orderNumber}"></td>
                <td th:text="${order.dateAdded}"></td>
                <td th:text="${order.price}"></td>
                <td th:text="${order.currency}"></td>
                <td th:text="${order.carrier.fullName}"></td>
                <td th:text="${order.margin}"></td>
                <td>
                    <span th:if="${order.isInvoiced}">Zafakturowano</span>
                    <span th:unless="${order.isInvoiced}">Nie zafakturowano</span>
                </td>
                <td th:text="${order.orderStatus.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="quick-access">
    <p>Szybki dostęp</p>
    <button>Profil pracownika</button>
    <button>Czat z firmą</button>
    <a th:href="@{/logout}"><button>Wyloguj</button></a>
</div>

</body>

</html>
